* {
  box-sizing: border-box;
}

*::selection {
  background-color: black;
  color:whitesmoke;
}

body{
  margin: 0;
  background-image: url("./images/background/jpg");
}

.App {
  font-family: "Special Elite", cursive;
  text-align: center;

}

/*-----Nav Bar part------------------*/

.header{
  z-index:1;
  height:150px;
  width:100%;
  position: fixed;
  h1{
    letter-spacing: -2px;
    text-align: center;
  }
  ul{
    padding:0;
    justify-content: center;
    display: flex;
    list-style-type:none;
  }
  li{
    display: inline;
    margin:25px;
  }
  h3{
    display: inline;
  }
}



/*-----Home page part------------------*/

.column {
   float: left;
   padding: 0px;
   margin-top:150px;
   height: 880px; /* Should be removed. Only for demonstration */
}
  /* Left and right column */
.column.left_side,.column.right_side {
  width: 25%;
  /*background-color:lightseagreen;*/
  .container_float{
    position:relative;
    width:100%;
    height:100%;
    .logo_github{
      position:absolute;
      left: 50%;
      top: 15%;
      transform: translate(-50%,-50%);
      color:black;
      opacity: 0.9;
    }
    .logo_instagram{
      position:absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      color:black;
      opacity: 0.9;
    }
    .logo_linkedin{
      position:absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%,-50%);
      color:black;
      opacity: 0.9;
    }
    .logo_projects{
      position:absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      color:black;
      opacity: 0.9;
    }
  }
}
/* Middle column */
.column.middle {
  width: 50%;
  /*background-color:lightskyblue;*/
  .container_float{
    position:relative;
    width:100%;
    height:100%;
    .Typed_text{
        position:absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
        color:black;
        opacity: 0.9;
    }
  }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 10px;
  text-align: center;
  p{
    font-size: 20px;
  }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.right_side, .column.middle {
    width: 100%;
    margin-top:0px;
  }
  .column.middle{
    height:150px;
  }
  .column.right_side{
    height: 300px;
    .container_float{
      position:relative;
      width:100%;
      height:100%;
      .logo_projects{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color:black;
        opacity: 0.9;
      }
    }
  }
  .column.left_side{
    width:100%;
    height: 350px;
    .container_float{
      position:relative;
      width:100%;
      height:100%;
      .logo_github{
        position:absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-50%);
        color:black;
        opacity: 0.9;
      }
      .logo_instagram{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color:black;
        opacity: 0.9;
      }
      .logo_linkedin{
        position:absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%,-50%);
        color:black;
        opacity: 0.9;
      }
    }
  }
}